*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #ffffffab;
    --color2: #535a5c;
    --color3: #802222ab;
    --color4: #125e9cc0;
}
/* Header */
header {
    padding:35px 45px;
    background-color: var(--color1);
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    color: var(--color3);
    font-size: 32px;
    margin: 0;
    text-shadow: 0 0 5px rgba(0,0,0, 0.75);
}

header a {
    text-decoration: none;
    color: var(--color3);
    text-shadow: 0 0 3px rgba(0,0,0, 0.75);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}
/* Footer */
footer {
    background: var(--color4);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* About Me */
.about-me {
    background-image: url("../images/image3.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-color: var(--color2);
}

.about-me div img {
    size: 80%;
    padding: 24px 20px 24px 200px;
}

.about-me div p {
    width: 40%;
}
/* Projects */
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    background-color: var(--color4);
}

.projects .primary-project {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects .primary-project a img {
    width: auto;
}

.projects .secondary-projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
}

.projects .secondary-projects div {
    width: 200px;
}

.projects .secondary-projects div a img {
    width:100%;
}
/* Contact */
.contact {
    width: 100%;
    background: var(--color2);
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
}

.contact .contact-form h3 {
    text-align: center;
}

.contact .links address a {
    text-decoration: none;
    color: var(--color1);
}
/* Mediaqueries */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}